@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  
    DateTime issueDate = (Model.IssueDate);
    string IssueDate = issueDate.ToString("dd.MM.yyyy");

   }

@model _1Lieferschein.Models.DeliveryNotes.DespatchAdvice


<dl class="row border-bottom">

    <dt class="col-sm-3">
        Standardidentifikation
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.CustomizationID)
    </dd>

    <dt class="col-sm-3">
        Profiltyp
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ProfileID)
    </dd>

    <dt class="col-sm-3">
        Bemerkung
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Note)
    </dd>

</dl>


@*Header*@
<h5>Kopf</h5> 
<dl class="row border-bottom">

    <dt class="col-sm-3">
        Unique Lieferschein ID
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.UUID)
    </dd>

    <dt class="col-sm-3">
        Datum Lieferschein
    </dt>
    <dd class="col-sm-9">
        @IssueDate
    </dd>

</dl>


@*SignatoryParty*@
<h5>Ersteller</h5>
<dl class="row border-bottom">

    <dt class="col-sm-3">
        Name (inkl. Firmierung)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PartyLegalEntity.RegistrationName)
    </dd>

    <dt class="col-sm-3">
        Adresse
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.StreetName)
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.BuildingNumber)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.PostalZone)
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.CityName)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.CountrySubentityCode)
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.CountrySubentity)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.TimezoneOffset)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.Country.IdentificationCode)
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.Country.Name)<br/>
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PostalAddress.LocationCoordinate)
    </dd>

    <dt class="col-sm-3">
        Website
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Signature.SignatoryParty.WebsiteURI)
    </dd>

    <dt class="col-sm-3">
        Identifikator
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Signature.SignatoryParty.PartyIdentification.ID)
    </dd>

    <dt class="col-sm-3">
        Sprache
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Language)
    </dd>

    <dt class="col-sm-3">
        Kontakt
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Contact.ID)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Contact.Name)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Contact.Telefax)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Contact.Note)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Contact.OtherCommunication.Channel)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Contact.OtherCommunication.Value)<br />
    </dd>

    <dt class="col-sm-3">
        Person
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.FirstName)
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.FamilyName)
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.Title)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.JobTitle)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.NationalityID)<br />

        @*Kontaktdaten zur Person*@
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.Contact.Name)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.Contact.Note)<br />

        @Html.DisplayFor(model => model.Signature.SignatoryParty.Person.GenderCode)
    </dd>

</dl>


@*SellerSupplierParty*@
<h5>Verkäufer</h5> 
<dl class="row border-bottom">

    <dt class="col-sm-3">
        Name (inkl. Firmierung)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SellerSupplierParty.PartyLegalEntity.RegistrationName)
    </dd>

    <dt class="col-sm-3">
        Mandant
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Standort
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Standortnummer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Adresse
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.StreetName)
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.BuildingNumber)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.PostalZone)
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.CityName)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.CountrySubentityCode)
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.CountrySubentity)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.TimezoneOffset)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.Country.IdentificationCode)
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.Country.Name)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.PostalAddress.LocationCoordinate)
    </dd>

    <dt class="col-sm-3">
        Website
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SellerSupplierParty.WebsiteURI)
    </dd>

    <dt class="col-sm-3">
        Identifikator
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SellerSupplierParty.PartyIdentification.ID)
    </dd>

    <dt class="col-sm-3">
        Sprache
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SellerSupplierParty.Language)
    </dd>

    <dt class="col-sm-3">
        Kontakt
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SellerSupplierParty.Contact.ID)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Contact.Name)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Contact.Telefax)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Contact.Note)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Contact.OtherCommunication.Channel)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Contact.OtherCommunication.Value)<br />
    </dd>

    <dt class="col-sm-3">
        Person
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SellerSupplierParty.Person.FirstName)
        @Html.DisplayFor(model => model.SellerSupplierParty.Person.FamilyName)
        @Html.DisplayFor(model => model.SellerSupplierParty.Person.Title)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Person.JobTitle)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Person.NationalityID)<br />

        @*Kontaktdaten zur Person fehlen*@
        @Html.DisplayFor(model => model.SellerSupplierParty.Person.Contact.Name)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Person.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Person.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.SellerSupplierParty.Person.Contact.Note)<br />

        @Html.DisplayFor(model => model.SellerSupplierParty.Person.GenderCode)
    </dd>

</dl>


@*DespatchSupplierParty*@
<h5>Versender</h5>
<dl class="row border-bottom">

    <dt class="col-sm-3">
        Name (inkl. Firmierung)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DespatchSupplierParty.PartyLegalEntity.RegistrationName)
    </dd>

    <dt class="col-sm-3">
        Kostenstellennummer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Debitor
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Externe Dokumente
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Standort
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Standortnummer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Adresse
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.StreetName)
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.BuildingNumber)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.PostalZone)
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.CityName)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.CountrySubentityCode)
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.CountrySubentity)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.TimezoneOffset)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.Country.IdentificationCode)
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.Country.Name)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.PostalAddress.LocationCoordinate)
    </dd>

    <dt class="col-sm-3">
        Website
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DespatchSupplierParty.WebsiteURI)
    </dd>

    <dt class="col-sm-3">
        Identifikator
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DespatchSupplierParty.PartyIdentification.ID)
    </dd>

    <dt class="col-sm-3">
        Sprache
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DespatchSupplierParty.Language)
    </dd>

    <dt class="col-sm-3">
        Kontakt
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DespatchSupplierParty.Contact.ID)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Contact.Name)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Contact.Telefax)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Contact.Note)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Contact.OtherCommunication.Channel)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Contact.OtherCommunication.Value)<br />
    </dd>

    <dt class="col-sm-3">
        Person
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.FirstName)
        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.FamilyName)
        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.Title)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.JobTitle)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.NationalityID)<br />

        @*Kontaktdaten zur Person fehlen*@
        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.Contact.Name)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.Contact.Note)<br />

        @Html.DisplayFor(model => model.DespatchSupplierParty.Person.GenderCode)
    </dd>

</dl>


@*BuyerCustomerParty*@
<h5>Käufer</h5> 
<dl class="row border-bottom">

    <dt class="col-sm-3">
        Name (inkl. Firmierung)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.BuyerCustomerParty.PartyLegalEntity.RegistrationName)
    </dd>

    <dt class="col-sm-3">
        Debitorennummer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Standort
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Standortnummer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Adresse
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.StreetName)
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.BuildingNumber)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.PostalZone)
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.CityName)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.CountrySubentityCode)
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.CountrySubentity)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.TimezoneOffset)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.Country.IdentificationCode)
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.Country.Name)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.PostalAddress.LocationCoordinate)
    </dd>

    <dt class="col-sm-3">
        Website
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.BuyerCustomerParty.WebsiteURI)
    </dd>

    <dt class="col-sm-3">
        Identifikator
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.BuyerCustomerParty.PartyIdentification.ID)
    </dd>

    <dt class="col-sm-3">
        Sprache
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.BuyerCustomerParty.Language)
    </dd>

    <dt class="col-sm-3">
        Kontakt
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.BuyerCustomerParty.Contact.ID)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Contact.Name)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Contact.Telefax)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Contact.Note)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Contact.OtherCommunication.Channel)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Contact.OtherCommunication.Value)<br />
    </dd>

    <dt class="col-sm-3">
        Person
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.FirstName)
        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.FamilyName)
        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.Title)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.JobTitle)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.NationalityID)<br />

        @*Kontaktdaten zur Person fehlen*@
        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.Contact.Name)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.Contact.Note)<br />

        @Html.DisplayFor(model => model.BuyerCustomerParty.Person.GenderCode)
    </dd>

</dl>


@*DeliveryCustomerParty*@
<h5>Empfänger</h5> 
<dl class="row border-bottom">
    
    <dt class="col-sm-3">
        Name (inkl. Firmierung)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PartyLegalEntity.RegistrationName)
    </dd>

    <dt class="col-sm-3">
        Kostenstellennummer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Externe Dokumente
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Standort
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Standortnummer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Adresse
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.StreetName)
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.BuildingNumber)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.PostalZone)
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.CityName)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.CountrySubentityCode)
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.CountrySubentity)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.TimezoneOffset)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.Country.IdentificationCode)
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.Country.Name)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PostalAddress.LocationCoordinate)
    </dd>

    <dt class="col-sm-3">
        Website
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DeliveryCustomerParty.WebsiteURI)
    </dd>

    <dt class="col-sm-3">
        Identifikator
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DeliveryCustomerParty.PartyIdentification.ID)
    </dd>

    <dt class="col-sm-3">
        Sprache
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Language)
    </dd>

    <dt class="col-sm-3">
        Kontakt
    </dt>
    <dd class="col-sm-9">
        @*@Html.DisplayFor(model => model.DeliveryCustomerParty.Contact.ID)<br />*@
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Contact.Name)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Contact.Telefax)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Contact.Note)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Contact.OtherCommunication.Channel)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Contact.OtherCommunication.Value)<br />
    </dd>

    <dt class="col-sm-3">
        Person
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.FirstName)
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.FamilyName)
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.Title)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.JobTitle)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.NationalityID)<br />

        @*Kontaktdaten zur Person fehlen*@
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.Contact.Name)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.Contact.Note)<br />

        @Html.DisplayFor(model => model.DeliveryCustomerParty.Person.GenderCode)
    </dd>

</dl>


@*ConsigneeParty*@
<h5>Empfangsstelle</h5>
<dl class="row border-bottom">

    @*<dt class="col-sm-3">
        Name (inkl. Firmierung)
    </dt>
    <dd class="col-sm-9">
        
    </dd>

    <dt class="col-sm-3">
        Kostenstellennummer des Verkäufers
    </dt>
    <dd class="col-sm-9">
    </dd>

    <dt class="col-sm-3">
        Kostenstellennummer des Käufers
    </dt>
    <dd class="col-sm-9">
    </dd>

    <dt class="col-sm-3">
        Externe Dokumente
    </dt>
    <dd class="col-sm-9">
    </dd>

    <dt class="col-sm-3">
        Standort
    </dt>
    <dd class="col-sm-9">
    </dd>

    <dt class="col-sm-3">
        Standortnummer
    </dt>
    <dd class="col-sm-9">
    </dd>

    <dt class="col-sm-3">
        Adresse
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.StreetName)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.BuildingNumber)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.PostalZone)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.CityName)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.CountrySubentityCode)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.CountrySubentity)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.TimezoneOffset)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.Country.IdentificationCode)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.Country.Name)<br />
        @Html.displayfor(model => model.shipment.consignment.carrierparty.postaladdress.locationcoordinate)
    </dd>

    <dt class="col-sm-3">
        Website
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.WebsiteURI)
    </dd>

    <dt class="col-sm-3">
        Identifikator
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PartyIdentification.ID)
    </dd>

    <dt class="col-sm-3">
        Sprache
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Language)
    </dd>

    <dt class="col-sm-3">
        Kontakt
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.ID)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.Name)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.Telefax)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.Note)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.OtherCommunication.Channel)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.OtherCommunication.Value)<br />
    </dd>

    <dt class="col-sm-3">
        Person
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.FirstName)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.FamilyName)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Title)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.JobTitle)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.NationalityID)<br />

        Kontaktdaten zur Person fehlen
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Contact.Name)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Contact.Note)<br />

        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.GenderCode)
    </dd>*@

</dl>


@*Shipment.Consignment.CarrierParty*@
<h5>Transportuer</h5>
<dl class="row border-bottom">

    <dt class="col-sm-3">
        Name (inkl. Firmierung)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PartyLegalEntity.RegistrationName)
    </dd>

    <dt class="col-sm-3">
        Standort
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Standortnummer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Fahrzeug Nummer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Abholer
    </dt>
    <dd class="col-sm-9">
        @*fehlt*@
    </dd>

    <dt class="col-sm-3">
        Adresse
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.StreetName)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.BuildingNumber)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.PostalZone)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.CityName)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.CountrySubentityCode)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.CountrySubentity)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.TimezoneOffset)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.Country.IdentificationCode)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.Country.Name)<br />
        @*@Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PostalAddress.LocationCoordinate)*@
    </dd>

    <dt class="col-sm-3">
        Website
    </dt>
    <dd class="col-sm-9">
        @*@Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.WebsiteURI)*@
    </dd>

    <dt class="col-sm-3">
        Identifikator
    </dt>
    <dd class="col-sm-9">
        @*@Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.PartyIdentification.ID)*@
    </dd>

    <dt class="col-sm-3">
        Sprache
    </dt>
    <dd class="col-sm-9">
        @*@Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Language)*@
    </dd>

    <dt class="col-sm-3">
        Kontakt
    </dt>
    <dd class="col-sm-9">
        @*@Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.ID)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.Name)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.Telefax)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.Note)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.OtherCommunication.Channel)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Contact.OtherCommunication.Value)<br />*@
    </dd>

    <dt class="col-sm-3">
        Person
    </dt>
    <dd class="col-sm-9">
        @*@Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.FirstName)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.FamilyName)
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Title)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.JobTitle)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.NationalityID)<br />*@

        @*Kontaktdaten zur Person fehlen*@
        @*@Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Contact.Name)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Contact.Telephone)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Contact.ElectronicMail)<br />
        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.Contact.Note)<br />

        @Html.DisplayFor(model => model.Shipment.Consignment.CarrierParty.Person.GenderCode)*@
    </dd>

</dl>


@*DespatchLine aktuell ITEM*@
<h5>Lieferpositionen</h5>
<dl class="row border-bottom">
    <dt class="col-sm-3">
        Lieferposition Nr.
    </dt>
    <dd class="col-sm-9">
        @*@despatchLine.ID*@
    </dd>

    <dt class="col-sm-3">
        Anzahl Menge
    </dt>
    <dd class="col-sm-9">
        @*@despatchLine.OrderLineReference.LineID*@
    </dd>

    <dt class="col-sm-3">
        Einheit
    </dt>
    <dd class="col-sm-9">
        @*@despatchLine.Item.ManufacturersItemIdentification.ID*@
    </dd>

    <dt class="col-sm-3">
        Nummer
    </dt>
    <dd class="col-sm-9">
        @*@despatchLine.Item.SellersItemIdentification.ID*@
    </dd>

    <dt class="col-sm-3">
        Bezeichnung
    </dt>
    <dd class="col-sm-9">
        @*@despatchLine.Item.Name*@
    </dd>

    <dt class="col-sm-3">
        Artikeleigenschaft
    </dt>
    <dd class="col-sm-9">
        @*@despatchLine.Item.Name*@
    </dd>

</dl>


@*Unknown Elements*@
<h5>Vom Standard abweichende Informationen</h5>
<p>Im Folgenden werden Elemente aufgelistet, die im 1Lieferschein enthalten sind, jedoch nicht dem Standard entsprechen:</p>
@foreach (var unknonwElem in Model.unknownInformation)
{
  <dl>        
    <dd>
        @unknonwElem<br>
    </dd>
</dl>  
}