@model _1Lieferschein.Models.DeliveryNotes.DespatchAdvice

@{
    ViewData["Title"] = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Lieferschein</h1>

<div>
    <h4> </h4>
    <hr />
    <h5>Anschrift Lieferant</h5>
    <dl class="row">
        <dt class="col-sm-2">
            Firmenname
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DespatchSupplierParty.Party.PartyLegalEntity.RegistrationName)
        </dd>
        <dt class="col-sm-2">
            Adresse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DespatchSupplierParty.Party.PostalAddress.StreetName)
            @Html.DisplayFor(model => model.DespatchSupplierParty.Party.PostalAddress.AdditionalStreetName)
            @Html.DisplayFor(model => model.DespatchSupplierParty.Party.PostalAddress.PostalZone)
            @Html.DisplayFor(model => model.DespatchSupplierParty.Party.PostalAddress.CityName)
            @Html.DisplayFor(model => model.DespatchSupplierParty.Party.PostalAddress.Country.IdentificationCode)
        </dd>
    </dl>

    <h5>Anschrift Empfänger</h5>
    <dl class="row">
        <dt class="col-sm-2">
            Firmenname
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.PartyLegalEntity.RegistrationName)
        </dd>
        <dt class="col-sm-2">
            Kundennummer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.PartyLegalEntity.CompanyID)
        </dd>
        <dt class="col-sm-2">
            Adresse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.PostalAddress.StreetName)
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.PostalAddress.AdditionalStreetName)
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.PostalAddress.PostalZone)
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.PostalAddress.CityName)
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.PostalAddress.Country.IdentificationCode)
        </dd>
        <dt class="col-sm-2">
            Kontakt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.Contact.Name)
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.Contact.Telephone)
            @Html.DisplayFor(model => model.DeliveryCustomerParty.Party.Contact.ElectronicMail)
        </dd>
    </dl>

    <h5>Lieferung</h5>
    <dl class="row">
        <dt class="col-sm-2">
            Lieferadresse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shipment.Delivery.DeliveryAddress.Address.StreetName)
            @Html.DisplayFor(model => model.Shipment.Delivery.DeliveryAddress.Address.AdditionalStreetName)
            @Html.DisplayFor(model => model.Shipment.Delivery.DeliveryAddress.Address.PostalZone)
            @Html.DisplayFor(model => model.Shipment.Delivery.DeliveryAddress.Address.CityName)
            @Html.DisplayFor(model => model.Shipment.Delivery.DeliveryAddress.Address.Country.IdentificationCode)
        </dd>
        <dt class="col-sm-2">
            Lieferdatum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shipment.Delivery.ActualDeliveryDate.Date)
        </dd>
    </dl>

    <h5>Versandartikel</h5>
    @foreach (var despatchLine in Model.DespatchLine)
    {
        <dl class="row">

            <dt class="col-sm-2">
                Artikelnummer
            </dt>
            <dd class="col-sm-10">
                @despatchLine.ID
            </dd>
            <dt class="col-sm-2">
                Bezeichnung
            </dt>
            <dd class="col-sm-10">
                @despatchLine.Note
            </dd>
            <dt class="col-sm-2">
                Liefermenge
            </dt>
            <dd class="col-sm-10">
                @despatchLine.DeliveryQuantity.unitCode - @despatchLine.DeliveryQuantity.Value
            </dd>
        </dl>
        <hr />
    }
    </div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>*@
</div>


